<%= csrf_meta_tags %>

<% @current_user[:color_scheme] ||= 'black' %>

<body class="theme-<%= @current_user[:color_scheme] %>">
  <%= render 'shared_partials/loader.html.erb', color: @current_user[:color_scheme] %>
  <%= render 'shared_partials/header.html.erb' %>

  <section>
    <%= render 'shared_partials/sidebar_left.html.erb', user: @current_user %>
    <%= render 'shared_partials/sidebar_right.html.erb', color: @current_user[:color_scheme] %>
  </section>

  <section class="content" style="margin-top: 70px;">
        <div class="container-fluid">
            <!-- Body Copy -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <%= render 'shared_partials/alert.html.erb', alert: flash %>
                            <h2>
                                Create new Folder
                            </h2>
                        </div>
                        <div class="body" style="margin-top: -70px">

<!-- 
                            <button type="button" class="btn btn-default waves-effect m-r-20" data-toggle="modal" data-target="#defaultModal">MODAL - DEFAULT SIZE</button>
                            <button type="button" class="btn btn-default waves-effect m-r-20" data-toggle="modal" data-target="#largeModal">MODAL - LARGE SIZE</button>
                            <button type="button" class="btn btn-default waves-effect" data-toggle="modal" data-target="#smallModal">MODAL - SMALL SIZE</button>
 -->

          <form id="settings" method="POST" action="/collections/new">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="body">
                            <h2 class="card-inside-title">Folder Name</h2>
              <div class="input-group">
                  <div class="form-line">
                      <input type="text" class="form-control" name="name" placeholder="YouTubers" value="<%= params[:name] %>" required autofocus>
                  </div>
              </div>
            </div>
            <div class="body">

              <h2 class="card-inside-title">Folder Description</h2>
              <div class="input-group">


                              <div class="form-group">
                                  <div class="form-line">
                                      <textarea name="description" rows="4" class="form-control no-resize" placeholder="A list of YouTubers, video categories and video links." required><%= params[:description] %></textarea>
                                  </div>
                              </div>
                          </div>
                  </div>




                        <div class="body">
                            <h2 class="card-inside-title">Add Tables to this Folder</h2>
              <div class="input-group">
                  <div class="form-line">
                    <% if @current_user.tables.empty? %>
                      <select class="form-control show-tick" multiple="multiple" data-live-search="true" data-selected-text-format="count > 3" title="Choose tables" data-actions-box="true" data-live-search-placeholder="Search a table" data-multiple-separator=" " name="tables[]" disabled></select>
                    <% else %>
                      <select class="form-control show-tick" multiple="multiple" data-live-search="true" data-selected-text-format="count > 3" title="Choose tables" data-actions-box="true" data-live-search-placeholder="Search a table" data-multiple-separator=", " name="tables[]">

                      <% @current_user.tables.each do |table| %>
                        <option data-content="<%= table.name %>"><%= table.id %></option>
                      <% end %>
                    <% end %>
                  </select>



                  </div>
              </div>
            </div>






                </div>



              <div class="row" style="margin-top: 100px">
                  <div class="col-xs-6 col-md-2 col-md-offset-4">
                      <a class="btn btn-block btn-color waves-effect" href="/collections"> <i class="material-icons">cancel</i><span><strong>Cancel</strong></span></a>
                  </div>                 

                  <div class="col-xs-6 col-md-2">
                      <button class="btn btn-block btn-color waves-effect" type="submit"><span><strong>Save</strong> &nbsp; </span><i class="material-icons">save</i></button>
                  </div>
</div>
          </form>




                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Body Copy -->
          </div>
        </section>
</body>
