<!-- Basic Examples -->
<div class="container-fluid">
  <div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="header">
          <%= render 'shared_partials/alert.html.erb', alert: flash %>
          <h2>
            <%= name %>
          </h2>
          <p>
            <%= description %>
          </p>
        </div>
        <div class="body">
          <div class="row" id="buttons" style="padding: 10px;">
          <% unless vectors.count == 1 %>
            <div class="btn-group">
              <button type="button" class="btn btn-color dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span>Download as</span> <i class="material-icons">keyboard_arrow_down</i>
              </button>
              <ul class="dropdown-menu">
                <li><a href="<%= filepath %>.json" download="<%= download_filename %>.json" class=" waves-effect waves-block">JSON</a></li>
                <li><a href="<%= filepath %>.csv" download="<%= download_filename %>.csv" class=" waves-effect waves-block">CSV</a></li>
                <li><a href="<%= filepath %>.xls" download="<%= download_filename %>.xls"" class=" waves-effect waves-block">XLS</a></li>
              </ul>
            </div>
          <% end %>

            <% if edit_access %>
              <div class="right" style="margin-top: 5px;">
                <div class="btn-group">
                  <a class="btn btn-color dropdown-toggle" href="/tables/<%= @table.id %>/new/column" ><i class="material-icons">add</i> <span>New column</span>
                  </a>
                </div>

                <div class="btn-group">
                  <a class="btn btn-color dropdown-toggle" href="/tables/<%= @table.id %>/new/row" ><i class="material-icons">add</i> <span>New row</span>
                  </a>
                </div>
              </div>
            <% end %>

          </div>

          <% if vectors.count == 1 %>
            <%= render 'shared_partials/alert.html.erb',
              alert: {
                message: "Uh oh. There doesn't seem to be anything to show here yet. Add more data points - tables, columns and rows. They'll automatically show up here.",
                dismissible: false
              }
            %>
          <% else %>
          <div class="table-responsive">
            <table class="table table-bordered table-hover dataTable" id="table">
              <thead class="fixed">
                <tr>
                  <% vectors.each do |v| %>
                    <th><%= v.gsub('_', ' ') %></th>
                  <% end %>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <% if vectors_with_index.nil? %>
                    <% vectors.each do |v| %>
                      <th><%= v.gsub('_', ' ') %></th>
                    <% end %>
                  <% else %>
                    <th>Action</th>
                    <th>SNo</th>
                    <% vectors_with_index.each do |v, i| %>
                      <th><a class='text-color delete-column' href='#' data-url='/tables/<%= table_id %>/delete/column/<%= i %>' data-name="<%= v %>" data-type='ajax-loader'><i class='material-icons'>delete</i></a><a href='/tables/<%= table_id %>/edit/column/<%= i %>' class='text-color'><i class='material-icons'>edit</i></a></th>
                    <% end %>
                  <% end %>
                </tr>
              </tfoot>
            </table>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- #END# Basic Examples -->

<style>
  th, td {
    text-align: center;
  }
</style>

<script>
  $(document).ready(function(){
    var table = $('.dataTable').DataTable({
      colReorder: { fixedColumnsLeft: 2 },
      stateSave: true,
      processing: true,
      serverSide: true,
      ajax: '<%= post_url %>',
      columns: [
        <% vectors.each_with_index do |vector, i| %>
          <% if i == vectors.count - 1 %>
            <% if ['Action'].include?(vector) %>
            { data: "<%= vector %>", orderable: false }
            <% else %>
            { data: "<%= vector %>" }
            <% end %>
          <% else %>
            <% if ['Action'].include?(vector) %>
            { data: "<%= vector %>", orderable: false },
            <% else %>
            { data: "<%= vector %>" },
            <% end %>
          <% end %>
        <% end %>
      ],
      searchHighlight: true
    });

    table.on('draw.dt', function () {
      eventFiredBtnDeleteSweetAlert(this);
    });

    var eventFiredBtnDeleteSweetAlert = function(jE) {
        $('.delete-collection').on('click', function(e) {
          e.preventDefault();
          var btnDelete = $(this);
          var collection_name = btnDelete.data('name');
          var post_url  = btnDelete.data('url');

          swal({
            title: "Are you sure?",
            text: "Once deleted, '"+collection_name+"' folder can't be recovered back.",
            type: "warning",
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete.",
            showCancelButton: true,
            closeOnConfirm: false,
            showLoaderOnConfirm: true,
          }, function () {
            swal("Deleted!", "Your folder has been deleted.", "success");
            setTimeout(function () {
                window.location.href = post_url;
            }, 500);
          });
        });

        $(jE).on('click', '.delete-table', function(e) {
          e.preventDefault();
          var btnDelete = $(this);
          var table_name = btnDelete.data('name');
          var post_url  = btnDelete.data('url');

          swal({
              title: "Are you sure?",
              text: "Once deleted, '"+table_name+"' table can't be recovered back.",
              type: "warning",
              confirmButtonColor: "#DD6B55",
              confirmButtonText: "Yes, delete.",
              showCancelButton: true,
              closeOnConfirm: false,
              showLoaderOnConfirm: true,
          }, function () {
              swal("Deleted!", "Your table has been deleted.", "success");
              setTimeout(function () {
                  window.location.href = post_url;
              }, 500);
          });
        });

        $(jE).on('click', '.delete-row', function(e) {
          e.preventDefault();
          var btnDelete = $(this);
          var post_url  = btnDelete.data('url');

          swal({
              title: "Are you sure?",
              text: "Once deleted, this row can't be recovered back.",
              type: "warning",
              confirmButtonColor: "#DD6B55",
              confirmButtonText: "Yes, delete.",
              showCancelButton: true,
              closeOnConfirm: false,
              showLoaderOnConfirm: true,
          }, function () {
              swal("Deleted!", "Your row has been deleted.", "success");
              setTimeout(function () {
                  window.location.href = post_url;
              }, 500);
          });
        });

        $(jE).on('click', '.delete-column', function(e) {
          e.preventDefault();
          var btnDelete   = $(this);
          var column_name = btnDelete.data('name');
          var post_url    = btnDelete.data('url');

          swal({
              title: "Are you sure?",
              text: "Once deleted, '"+column_name+"' column can't be recovered back.",
              type: "warning",
              confirmButtonColor: "#DD6B55",
              confirmButtonText: "Yes, delete.",
              showCancelButton: true,
              closeOnConfirm: false,
              showLoaderOnConfirm: true,
          }, function () {
              swal("Deleted!", "Your column has been deleted.", "success");
              setTimeout(function () {
                  window.location.href = post_url;
              }, 500);
          });
        });


    };
  });
</script>
