            <!-- Modal Dialogs ====================================================================================================================== -->
            <!-- Default Size -->
            <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="defaultModalLabel">Modal title</h4>
                        </div>
                        <div class="modal-body">
<form id="settings" method="POST" action="/dashboard/settings">
              <%= render 'shared_partials/alert.html.erb',
                alert: {
                  message: "Did you know? The data below has been gathered from the social media account(s) that you've linked with this account.",
                  dismissible: false

                }  %>
            <div class="row">
                                <div class="col-sm-4">
                                  <p> <b> Choose your name </b> </p>
                                  <select name="name" class="form-control show-tick" data-live-search="true" data-live-search-placeholder="Search">
                                    <option value="<%= @current_user.name %>" selected><%= @current_user.name %></option>
                                    <% @current_user.possible_names.each do |name| %>
                                      <option value="<%= name %>"><%= name %></option>
                                    <% end %>
                                    <option value="">(Custom)</option>
                                  </select>
                                </div>
                                <div class="col-sm-4">
                                  <p> <b> Or, set a custom display name </b> </p>
                                  <input class="form-control" type="text" name="name" value="<%= @current_user.name %>">
                                </div>
                                <div class="col-sm-4">
                                  <p> <b> Choose your email address </b> </p>

                                    <select class="form-control show-tick" data-live-search="true" data-live-search-placeholder="Search" name="email" <%= 'disabled' if @current_user.possible_emails.count.zero? %>>
                                        <option selected><%= @current_user.email %></option>
                                        <% @current_user.possible_emails.each do |email| %>
                                          <option><%= email %></option>
                                        <% end %>
                                    </select>
                                  </div>


                                <div class="col-sm-12">
                                  <p> <b> Choose your Gravitar Image </b> </p>

                                    <select class="form-control show-tick" data-live-search="true" data-live-search-placeholder="Search" name="image" <%= 'disabled' if @current_user.possible_images.count == 1 %>>
                                        <option data-content="<img src='<%= @current_user.image %>' style='width:100px; height: 100px;'>" selected><%= @current_user.image %></option>
                                        <% @current_user.possible_images.each do |image, platform| %>
                                          <option data-content="<img src='<%= image %>' style='width:100px; height: 100px;'> &nbsp; <span class='label btn-color'><%= platform %></span>"><%= image %></option>
                                        <% end %>
                                    </select>
                                  </div>


<!--                                     <select class="form-control show-tick" multiple="multiple" data-live-search="true" data-selected-text-format="count > 3" title="Choose collections" data-actions-box="true" data-live-search-placeholder="Search a collection" data-multiple-separator=" " name="sauce[]" data-value="1">
                                        <option data-content="<img src='https://lh6.googleusercontent.com/-LN4oYGRQ6yQ/AAAAAAAAAAI/AAAAAAAAI1Q/y8Jvyjs2Kc0/photo.jpg' style='width:20px; height: 20px;'> &nbsp; <span class='label btn-color'>Mustard</span> athitya@gmail.com" selected>Mustard</option>
                                        <option data-content="<img src='https://lh6.googleusercontent.com/-LN4oYGRQ6yQ/AAAAAAAAAAI/AAAAAAAAI1Q/y8Jvyjs2Kc0/photo.jpg' style='width:20px; height: 20px;'> &nbsp; <span class='label btn-color'>Ketchup</span> athiya@gmail.com" selected>Ketchup</option>
                                        <option data-content="<img src='https://lh6.googleusercontent.com/-LN4oYGRQ6yQ/AAAAAAAAAAI/AAAAAAAAI1Q/y8Jvyjs2Kc0/photo.jpg' style='width:20px; height: 20px;'> &nbsp; <span class='label btn-color'>Relish</span> athityakumar@gmail.com">Relish</option>
                                        <option data-content="<img src='https://lh6.googleusercontent.com/-LN4oYGRQ6yQ/AAAAAAAAAAI/AAAAAAAAI1Q/y8Jvyjs2Kc0/photo.jpg' style='width:20px; height: 20px;'> &nbsp; <span class='label btn-color'>Onions</span> ceo@gmail.com">Onions</option>

                                    </select>
 -->                                
</div>
              <div class="row" style="margin-top: 100px">
                  <div class="col-xs-4 col-xs-offset-4">
                      <button class="btn btn-block bg-blue waves-effect" type="submit"><strong>SAVE</strong> &nbsp; <i class="material-icons" style="margin-top: -0px;">save</i></button>
                  </div>
</div>
              <div class="row">

                  <div class="col-xs-3">
                      <p><b>(<%= @current_user.provider_linked_message('google_oauth2') %>)</b> </p>

                      <a class="btn btn-block bg-red waves-effect" href="/auth/google_oauth2"><strong><i class="fa fa-google fa-lg" aria-hidden="true" style="padding: 10px;"></i></strong></a>
                  </div>
                  <div class="col-xs-3">
                      <p><b>(<%= @current_user.provider_linked_message('facebook') %>)</b> </p>

                      <a class="btn btn-block bg-indigo waves-effect" href="/auth/facebook"><strong><i class="fa fa-facebook fa-lg" aria-hidden="true" style="padding: 10px;"></i></strong></a>
                  </div>
                  <div class="col-xs-3">
                      <p><b>(<%= @current_user.provider_linked_message('linkedin') %>)</b> </p>

                      <a class="btn btn-block bg-blue waves-effect" href="/auth/linkedin"><strong><i class="fa fa-linkedin fa-lg" aria-hidden="true" style="padding: 10px;"></i></strong></a>
                  </div>
                  <div class="col-xs-3">
                      <p><b>(<%= @current_user.provider_linked_message('github') %>)</b> </p>

                      <a class="btn btn-block bg-black waves-effect" href="/auth/github"><strong><i class="fa fa-github fa-lg" aria-hidden="true" style="padding: 10px;"></i></strong></a>
                  </div>
              </div>
          </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-link waves-effect">SAVE CHANGES</button>
                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Large Size -->
            <div class="modal fade" id="largeModal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="largeModalLabel">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales orci ante, sed ornare eros vestibulum ut. Ut accumsan
                            vitae eros sit amet tristique. Nullam scelerisque nunc enim, non dignissim nibh faucibus ullamcorper.
                            Fusce pulvinar libero vel ligula iaculis ullamcorper. Integer dapibus, mi ac tempor varius, purus
                            nibh mattis erat, vitae porta nunc nisi non tellus. Vivamus mollis ante non massa egestas fringilla.
                            Vestibulum egestas consectetur nunc at ultricies. Morbi quis consectetur nunc.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-link waves-effect">SAVE CHANGES</button>
                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Small Size -->
            <div class="modal fade" id="smallModal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="smallModalLabel">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales orci ante, sed ornare eros vestibulum ut. Ut accumsan
                            vitae eros sit amet tristique. Nullam scelerisque nunc enim, non dignissim nibh faucibus ullamcorper.
                            Fusce pulvinar libero vel ligula iaculis ullamcorper. Integer dapibus, mi ac tempor varius, purus
                            nibh mattis erat, vitae porta nunc nisi non tellus. Vivamus mollis ante non massa egestas fringilla.
                            Vestibulum egestas consectetur nunc at ultricies. Morbi quis consectetur nunc.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-link waves-effect">SAVE CHANGES</button>
                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                        </div>
                    </div>
                </div>
            </div>
