<%= csrf_meta_tags %>

<% @current_user[:color_scheme] ||= 'black' %>

<body class="theme-<%= @current_user[:color_scheme] %>">
  <%= render 'shared_partials/loader.html.erb', color: @current_user[:color_scheme] %>
  <%= render 'shared_partials/header.html.erb' %>

  <section>
    <%= render 'shared_partials/sidebar_left.html.erb', user: @current_user %>
    <%= render 'shared_partials/sidebar_right.html.erb', color: @current_user[:color_scheme] %>
  </section>

  <%= render 'shared_partials/tab_panel.html.erb',
    name: 'Dashboard',
    description: 'A list of all your existing tables. Each table may belong to multiple collections, and each collection may contain multiple tables.',
    edit_access: false,
    post_url: 1,
    active_tab: 'TABLES',
    tabs: [
      {text: 'TABLES', icon: 'grid_on', link: '/tables'},
      {text: 'FOLDERS', icon: 'folder', link: '/collections'},
      {text: 'SETTINGS', icon: 'settings', link: '/settings'}
    ] %>


  <section class="content" style="margin-top: 0px;">
    <%= render 'shared_partials/datatable.html.erb',
      name: "", post_url: '/tables_server_side',
      description: "",
      filepath: '/tables', vectors_with_index: nil,
      edit_access: false,
      vectors: ['Action'] + @vectors, access: {read: true, write: false},
      download_filename: "Tables_#{Time.now.strftime('%b_%d_%Y_%H_%m_%S')}" %>
  </section>
</body>